<div class="container">
		<header class="page-header">
			<h1>Room {{room}}</h1>
			<h4>{{users}} connected </h4>
		</header>
		
		<div>
			<section scroller>
				
			<chat-item ng-repeat="item in chatItems"></chat-item>
		
			</section>
			
			<div class="input-group">
			  <input ng-model="message" type="text" class="form-control" placeholder="Type your message..." ng-keypress="enter($event)">
			  <span class="input-group-btn">
			    <button class="btn btn-default" type="button" ng-click="send()">Send</button>
			  </span>
			</div>
		</div>
</div>
