<div ng-controller="WelcomeCtrl" class="container">
	<div class="jumbotron">
		<h1><i class="fa fa-envelope"></i> Welcome!</h1>
	</div>
	<div class="col-md-4 col-md-offset-4">
		<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
		  <input ng-model="username" type="text" class="form-control" placeholder="Select username" ng-keypress="enter($event)" autofocus ng-required>
		</div>
		<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-bookmark"></i></span>
		
		  <input ng-model="room" type="text" class="form-control" placeholder="Select room" ng-keypress="enter($event)" ng-required>
		</div>
		  <div class="input-group pull-right">
		    <button class="btn btn-default go-btn" type="button" ng-click="go('/chat')">Go!</button>
		  </div>
		</div>
	</div>
</div>
